[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-neonclock
Exec=sailfish-qml harbour-neonclock
Name=Neon Clock
#Name[de]=harbour-neonclock
